.footer {
    position: absolute;
    bottom: 0;
}
/* Start Ajax loader */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .main-loader {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100%;
    z-index: 1;
  }

  .box {
    position: relative;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, #0005);
  }

  .box .loader {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: animateLoading 2s linear infinite;
  }

  .box .loader:nth-child(2),
  .box .loader:nth-child(4) {
    animation-delay: -1s;
    filter: hue-rotate(290deg);
  }

  @keyframes animateLoading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .box .loader:nth-child(1)::before,
  .box .loader:nth-child(2)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to top, transparent, rgba(0, 255, 249, 0.5));
    background-size: 100px 180px;
    background-repeat: no-repeat;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
  }

  .main-loader .loader i {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 20px;
    height: 20px;
    background: #00fff9;
    border-radius: 50%;
    box-shadow: 0 0 10px #00fff9,
      0 0 20px #00fff9,
      0 0 30px #00fff9,
      0 0 40px #00fff9,
      0 0 50px #00fff9,
      0 0 60px #00fff9,
      0 0 70px #00fff9,
      0 0 80px #00fff9,
      0 0 90px #00fff9,
      0 0 100px #00fff9;
    z-index: 10;
  }

  .box .loader span {
    position: absolute;
    inset: 20px;
    background: #000;
    border-radius: 50%;
    z-index: 1;
  }
/* End Ajax loader */

.sidebar-header {
    background-color: #000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.sidebar-wrapper {
    background-color: #060606 !important;
}

.sidebar-wrapper .menu .sidebar-link>span {
    color: #cccdcf !important;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link>span {
    color: #fff !important;
    opacity: 1 !important;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link {
    background-color: #4c4b4b;
}

.sidebar-wrapper .menu .sidebar-item.active .sidebar-link:before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: orange !important;
    width: 5px;
}

.sidebar-item a {
    color: #f4f7fb;
}

.page-title h3 {
    color: #111;
}

.text-subtitle.text-muted {
    color: #111;
}

table tr th {
    color: #333 !important;
    font-weight: 600;
}



body {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    box-shadow: 0px -1px 9px 6px rgb(120 119 119 / 16%) !important;
    -webkit-box-shadow: 0px -1px 9px 6px rgb(120 119 119 / 16%) !important;
}

.navbar {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

#main {
    background-color: #ffffff;
}

table tr:hover {
    --bs-table-accent-bg: var(--bs-table-striped-bg);
    color: var(--bs-table-striped-color);
    transform: scale(1.01);
}
table tr {
    transition: 0.3s;
}
table {
    overflow-x: auto;
}

.sidebar-wrapper .menu .submenu li a {
    color: #cccdcf;
    opacity: .8;
}

.sub-active {
    background-color: #4c4b4b;
    position: relative;
}

.sub-active a {
    color: #fff !important;
    opacity: 1 !important;
}

ul.submenu:has(.sub-active) {
    overflow: visible;
}

ul.submenu:focus {
    overflow: hidden;
}

.sub-active a::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: orange !important;
    width: 5px;
}
.ml-auto {
    margin-left: auto;
}
